{% extends "base.html" %}
{% block title %} {{ p_performance.artist_name }} {% endblock title %}

{% block body_content %}
<!-- ARTIST -->
<section class="row d-flex justify-content-center mb-3">
    <article class="col col-lg-9 col-xl-8">
        <div class="card rounded-4 d-flex bg-common">
            <article class="card rounded-top-4 text-white d-flex flex-row bg-primary">
                <figure class="ms-4 mt-4 d-flex flex-column artist-img-sm"> 
                    <img src="{{ url_for('static', filename=p_performance.artist_image) }}"
                    alt="{{ p_performance.artist_name }}" class="border rounded-3 mb-2">
                    {% if current_user.type == 2 and p_performance.published == 0 %}
                    <a href="{{ url_for('update_performance', artist_id=p_performance.artist_id) }}" class="btn col-12 me-2 mb-2 bg-primary">Modifica</a>
                    {% endif %}
                </figure>
                <div class="ms-3 artist-name h-100 mt-auto mb-3">
                    <h4 class="text-common">{{ p_performance.artist_name }}</h4>
                    <span class="badge mb-1 mb-sm-0 me-1 bg-secondary text-black">{{ p_performance.start_date.split("T")[0] }}</span>
                    <span class="badge mb-1 mb-sm-0 bg-tertiary text-black">{{ p_performance.start_date.split("T")[1] }} ({{ p_duration }})</span>
                    <span class="badge mb-3 mb-sm-0 bg-quaternary text-black">{{ p_performance.stage_name }}</span>
                </div>
            </article>
            <article class="card-body p-4 pb-2 text-black my-2 text-body">
                <p class="font-italic mb-1">{{ p_performance.artist_description }}</p>
            </article>
        </div>
    </article>
</section>

<!-- PERFORMANCE -->
<section class="row d-flex justify-content-center mb-3">
    <article class="col col-lg-9 col-xl-8">
        <div class="card rounded-4 d-flex bg-common">        
            <article class="card-body p-4 pb-2 text-black">
                <h3 class="text-primary text-center">Performance</h3>
                <div class="my-2 text-body">
                    <p class="font-italic mb-1">{{ p_performance.performance_description }}</p>
                </div> 
                <figure class="col">
                    <img src="{{ url_for('static', filename=p_performance.performance_image) }}" alt="" class="w-100 rounded-3">
                </figure>
            </article>
        </div>
    </article>
</section>

<!-- STAGE -->
<section class="row d-flex justify-content-center mb-3">
    <article class="col col-lg-9 col-xl-8">
        <div class="card rounded-4 d-flex bg-common">        
            <article class="card-body p-4 pb-2 text-black">
                <h3 class="text-primary text-center">Palco {{ p_performance.stage_name }}</h3>
                <div class="my-2 text-body">
                    <p class="font-italic mb-1">{{ p_performance.stage_description }}</p>
                </div> 
                <figure class="col">
                    <img src="{{ url_for('static', filename=p_performance.stage_image) }}" alt="" class="w-100 rounded-3">
                </figure>
            </article>
        </div>
    </article>
</section>
{% endblock body_content %}