{% extends "base.html"%}
{% block title %}Login{% endblock title %}

{% block body_content %}
<main class="d-flex justify-content-center h-100 mb-4">
    <section class="card p-2 bg-primary">
        <sectiontitle class="card-header text-primary border-common">
            <h3>Login</h3>
        </sectiontitle>
        <article class="card-body">
            <form action="{{ url_for('login', method='POST')}}" method="POST">
                <div class="mb-3">
                    <label for="userEmail" class="form-label text-common">Indirizzo Email</label>
                    <input type="email" name="email" id="userEmail" class="form-control" placeholder="mario.rossi@gmail.com" required>
                </div>
                <div class="mb-3">
                    <label for="userPassword" class="form-label text-common">Password</label>
                    <input type="password" name="password" id="userPassword" class="form-control" placeholder="Password" required>
                </div>
                <input type="submit" value="Login" class="btn">
            </form>
        </article>
        <footer class="card-footer border-common">
            <p class="links text-common">
                Non hai un account? <a class="link" href="{{ url_for('signup') }}">Registrati</a>
            </p>
        </footer>
    </section>
</main>
{% endblock body_content %}
