{% extends "base.html" %}
{% block title %}Performance{% endblock title %} 

{% block body_content %}
<main class="h-100 col-sm-12 col-md-9 col-lg-6 m-auto mb-4">
    <section class="card p-2 bg-primary">
        {% if p_request_type == 0 %}
        <sectiontitle class="card-header text-center text-primary border-common">
                <h2>Inserimento della performance</h2>
        </sectiontitle>
        <article class="card-body">
            <form action="{{ url_for('profile', method='POST')}}" method="POST" enctype="multipart/form-data">
                <section class="h-100 border-bottom mb-4">
                    <sectiontitle class="text-secondary border-common">
                        <h3>Informazioni dell'artista</h3>
                    </sectiontitle>
                    <!-- NAME -->
                    <div class="mb-3">
                        <label for="artist_name" class="form-label text-common">Nome</label>
                        <input type="text" name="name" id="artist_name" class="form-control" placeholder="Mario" maxlength="50" required>
                    </div>
                    <!-- SHORT DESCRIPTION -->
                    <div class="mb-3">
                        <label for="artist_short_description" class="form-label text-common">Breve descrizione</label>
                        <textarea name="short_description" id="artist_short_description" class="form-control" placeholder="Breve descrizione dell'artista" maxlength="50" required></textarea>
                    </div>
                    <!-- DESCRIPTION -->
                    <div class="mb-3">
                        <label for="artist_description" class="form-label text-common">Descrizione</label>
                        <textarea name="artist_description" id="artist_description" class="form-control" placeholder="Lunga descrizione dell'artista" maxlength="255" rows="4" required></textarea>
                    </div>
                    <!-- IMAGE -->
                    <div class="mb-3">
                        <label for="artist_image_id" class="form-label text-common">Immagine</label>
                        <input type="file" name="artist_image" id="artist_image_id" class="form-control" required>
                    </div>
                </section>
                <section class="h-100 border-bottom mb-4">
                    <sectiontitle class="text-secondary border-common">
                        <h3>Informazioni della performance</h3>
                    </sectiontitle>
                    <!-- START -->
                    <div class="mb-3">
                        <label for="performance_start_date" class="form-label text-common">Data inizio</label>
                        <input type="datetime-local" name="start_date" id="performance_start_date" class="form-control" min="2025-07-18 00:00" max="2025-07-20 23:59" placeholder="2025-07-18 00:00" required>
                    </div>
                    <!-- END -->
                    <div class="mb-3">
                        <label for="performance_end_date" class="form-label text-common">Data fine</label>
                        <input type="datetime-local" name="end_date" id="performance_end_date" class="form-control" min="2025-07-18 00:00" max="2025-07-20 23:59" placeholder="2025-07-18 00:00" required>
                    </div>
                    <!-- MUSIC GENRE -->
                    <div class="mb-3">
                        <label for="music_genre" class="form-label text-common">Genere musicale</label>
                        <input type="text" name="music_genre" id="music_genre" class="form-control" placeholder="Rock" maxlength="50"  required>
                    </div>
                    <!-- STAGE -->
                    <div class="mb-3">
                        <label for="performance_stage" class="form-label text-common">Palco</label>
                        <select name="stage" id="performance_stage" class="form-select">
                        {% for stage in p_stage %}
                            <option value="{{ stage.id }}">{{ stage.nome }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <!-- DESCRIPTION -->
                    <div class="mb-3">
                        <label for="performance_description" class="form-label text-common">Descrizione</label>
                        <textarea name="performance_description" id="performance_description" class="form-control" placeholder="Lunga descrizione della performance" maxlength="255" rows="4" required></textarea>
                    </div>
                    <!-- IMAGE -->
                    <div class="mb-3">
                        <label for="performance_image_id" class="form-label text-common">Immagine</label>
                        <input type="file" name="performance_image" id="performance_image_id" class="form-control" required>
                    </div>
                    <!-- DRAFT -->
                    <div class="form-check">
                        <label for="draft_box" class="form-label text-common">Bozza</label>
                        <input class="form-check-input" type="checkbox" name="draft_box" value="0" id="draft_box" checked>
                    </div>
                </section>
                
                <input type="submit" name="submitBtn" value="Crea performance" class="btn">
            </form>
        </article>
        {% else %}
        <sectiontitle class="card-header text-center text-primary border-common">
            <h2>Aggiornamento della performance</h2>
        </sectiontitle>
        <article class="card-body">
            <form action="{{ url_for('update_performance', artist_id=p_performance.id_artista, method='POST')}}" method="POST">
                <section class="h-100 border-bottom mb-4">
                    <sectiontitle class="text-secondary border-common">
                        <h3>Informazioni dell'artista</h3>
                    </sectiontitle>
                    <!-- NAME -->
                    <div class="mb-3">
                        <label for="artist_name" class="form-label text-common">Nome</label>
                        <input type="text" name="name" id="artist_name" class="form-control" placeholder="Mario" maxlength="50" value="{{ p_performance.artist_name }}" required>
                    </div>
                    <!-- SHORT DESCRIPTION -->
                    <div class="mb-3">
                        <label for="artist_short_description" class="form-label text-common">Breve descrizione</label>
                        <textarea name="short_description" id="artist_short_description" class="form-control" placeholder="Breve descrizione dell'artista" maxlength="50" required>{{ p_performance.descrizione_breve }}</textarea>
                    </div>
                    <!-- DESCRIPTION -->
                    <div class="mb-3">
                        <label for="artist_description" class="form-label text-common">Descrizione</label>
                        <textarea name="artist_description" id="artist_description" class="form-control" placeholder="Lunga descrizione dell'artista" maxlength="255" rows="4" required>{{ p_performance.artist_description }}</textarea>
                    </div>
                </section>
                <section class="h-100 border-bottom mb-4">
                    <sectiontitle class="text-secondary border-common">
                        <h3>Informazioni della performance</h3>
                    </sectiontitle>
                    <!-- START -->
                    <div class="mb-3">
                        <label for="performance_start_date" class="form-label text-common">Data inizio</label>
                        <input type="datetime-local" name="start_date" id="performance_start_date" class="form-control" min="2025-07-18 00:00" max="2025-07-20 23:59" placeholder="2025-07-18 00:00" value="{{ p_performance.inizio }}"required>
                    </div>
                    <!-- END -->
                    <div class="mb-3">
                        <label for="performance_end_date" class="form-label text-common">Data fine</label>
                        <input type="datetime-local" name="end_date" id="performance_end_date" class="form-control" min="2025-07-18 00:00" max="2025-07-20 23:59" placeholder="2025-07-18 00:00" value="{{ p_performance.fine }}"required>
                    </div>
                    <!-- MUSIC GENRE -->
                    <div class="mb-3">
                        <label for="music_genre" class="form-label text-common">Genere musicale</label>
                        <input type="text" name="music_genre" id="music_genre" class="form-control" placeholder="Rock" maxlength="50" value="{{ p_performance.genere_musicale }}" required>
                    </div>
                    <!-- STAGE -->
                    <div class="mb-3">
                        <label for="performance_stage" class="form-label text-common">Palco</label>
                        <select name="stage" id="performance_stage" class="form-select">
                            {% for stage in p_stage %}
                                <option value="{{ stage.id }}" {% if p_performance.id_palco == stage.id %} selected {% endif %} >{{ stage.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- DESCRIPTION -->
                    <div class="mb-3">
                        <label for="performance_description" class="form-label text-common">Descrizione</label>
                        <textarea name="performance_description" id="performance_description" class="form-control" placeholder="Lunga descrizione della performance" maxlength="255" rows="4" required>{{ p_performance.performance_description }}</textarea>
                    </div>
                    <!-- DRAFT -->
                    <div class="form-check">
                        <label for="draft_box" class="form-label text-common">Bozza</label>
                        <input class="form-check-input" type="checkbox" name="draft_box" value="0" id="draft_box" checked>
                    </div>
                </section>
                
                <input type="submit" name="submitBtn" value="Aggiorna performance" class="btn">
            </form>
        </article>

        {% endif %}
    </section>
</main>
{% endblock body_content %}