{% extends "base.html" %}
{% block title %} {{ current_user.name }} {{ current_user.surname }} {% endblock title %}

{% block body_content %}
<section class="row d-flex justify-content-center pb-3 h-100 ">
    <article class="card rounded-3 text-white d-flex flex-row bg-primary justify-content-center p-3 col col-md-8 col-lg-6 col-xl-5">
        <div class="text-center">
            <h1 class="text-common">{{ current_user.name }} {{ current_user.surname }}</h4>
            <span class="badge bg-secondary">
                {% if current_user.type == 2 %}
                    Collaboratore
                {% else %}
                    Partecipante
                {% endif %}
            </span>
        </div>
    </article>
</section>

<!-- PARTICIPANT -->
{% if current_user.type == 1 %}
<!-- PARTICIPANT TICKET -->
<section class="row d-flex justify-content-center pb-3 h-100">
    {% if p_ticket %}
    <article class="card rounded-3 text-common d-flex flex-row bg-primary justify-content-center col col-md-8 py-2 col-lg-6 col-xl-5">
        <header class="col justify-content-center card-body">
            {% if p_ticket.type == 0 %} 
            <h3 class="my-2 pb-3 fw-normal text-primary border-bottom border-common">
                Biglietto Singolo
            </h3>
            <h5> {{ p_ticket.start_date.split("T")[0] }} </h5>
            {% elif p_ticket.type == 1 %}
            <h3 class="my-2 pb-3 fw-normal text-primary border-bottom border-common"> 
                Biglietto Doppio
            </h3>
            <h5> dal {{ p_ticket.start_date.split("T")[0] }} al {{ p_end_date.split("T")[0] }} </h5>
            {% else %}
            <h3 class="my-2 pb-3 fw-normal text-primary border-bottom border-common"> 
                Biglietto Platino
            </h3>
            <h5> dal 18/07/2025 al 20/05/2025</h5>
            {% endif %}
        </header>
    </article>
    {% else %}
    <article class="card rounded-3 bg-common h-100">
        <header class="col d-flex justify-content-center card-body py-3">
            <h3 class="fw-normal text-primary"> 
                Biglietto non ancora acquistato!
            </h3>
        </header>
    </article>
    {% endif %}
</section>
{% endif %}

<!-- COLLABORATOR -->
{% if current_user.type == 2 %}
<!-- COLLABORATOR TICKETS SUMMARY -->
<section class="flex-box bg-primary p-3 m-auto my-3 col-md-8 col-sm-12 text-common rounded-3">
    <article class="border-bottom border-common mb-4">
        <h2 class="text-center text-primary justify-content-center pb-3 mb-3 border-bottom border-common">
            Riepilogo biglietti
        </h2>
        <section class="row p-2 justify-content-center">
            <article class="col-5">
                <h5 class="fw-bold text-center">
                    Singoli
                </h5>
                <p class="fw-bold mb-2 bg-common rounded-2 text-dark p-2 border border-black me-1 text-center">
                    {{ p_tickets_value[0] }} €
                </p>
            </article>
            <article class="col-5">
                <h5 class="fw-bold text-center">
                    Doppi
                </h5>
                <p class="fw-bold mb-2 bg-common rounded-2 text-dark p-2 border border-black me-1 text-center">
                    {{ p_tickets_value[1] }} €
                </p>
            </article>
        </section>

        <section class="row pb-3 mb-3 justify-content-center">
            <article class="col-5">
                <h5 class="fw-bold text-center">
                    Platino
                </h5>
                <p class="fw-bold mb-2 bg-common rounded-2 text-dark p-2 border border-black me-1 text-center">
                    {{ p_tickets_value[2] }} €
                </p>
            </article>
            <article class="col-5">
                <h5 class="fw-bold text-center">
                    Totale
                </h5>
                <p class="fw-bold mb-2 bg-secondary rounded-2 text-dark p-2 border border-black me-1 text-center">
                    {{ p_tickets_value[3] }} €
                </p>
            </article>
        </section>
    </article>

    <article class="d-flex justify-content-between">
        <h6 class="fw-bold mb-2">
            Partecipanti venerdì
        </h6>
        <p class="fw-bold mb-2">
            {{ p_people_count_days[0] }} / 200
        </p>
    </article>
    <article>
        <figure class="progress" role="progressbar" aria-label="Number of single tickets" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-secondary" style="width: {{ p_people_count_days[0] / 200 * 100 }}%"></div>
        </figure>
    </article>

    <article class="d-flex justify-content-between">
        <h6 class="fw-bold mb-2">
            Partecipanti sabato
        </h6>
        <p class="fw-bold mb-2">
            {{ p_people_count_days[1] }} / 200
        </p>
    </article>
    <article>
        <figure class="progress" role="progressbar" aria-label="Number of double tickets" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-secondary" style="width: {{ p_people_count_days[1] / 200 * 100}}%"></div>
        </figure>
    </article>

    <article class="d-flex justify-content-between">
        <h6 class="fw-bold mb-2">
            Partecipanti domenica
        </h6>
        <p class="fw-bold mb-2">
            {{ p_people_count_days[2] }} / 200
        </p>
    </article>
    <article>
        <figure class="progress" role="progressbar" aria-label="Number of double tickets" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-secondary" style="width: {{ p_people_count_days[2] / 200 * 100}}%"></div>
        </figure>
    </article>
</section>

<!-- COLLABORATOR UNPUBLISHED PERFORMANCES -->
{% if p_unpublished_performances %}
<h2 class="text-primary text-center">Performance non pubblicate</h2>
<section class="album p-2 row">
    {% for performance in p_unpublished_performances %}
    <a href="{{ url_for('update_performance', artist_id=performance.artist_id) }}" class="col-lg-3 mb-3 d-flex align-items-stretch text-decoration-none card-interaction mh-50">
        <article class="card rounded-4 bg-primary border-common mx-auto">
            <img src="{{ url_for('static', filename=performance.artist_image) }}" class="card-img-top rounded-top-4 artist-img" alt="{{ performance.name }}">
            <section class="card-body">
                <h5 class="card-title text-primary">{{ performance.artist_name }}</h5>
                <p class="card-text text-common">{{ performance.short_description }}</p>
            </section>
            <section class="row d-flex align-items-center mx-3">
                <p class="badge mb-1 bg-secondary text-black col-12">{{ performance.start_date.split('T')[0] }}</p>
                <p class="badge mb-1 bg-tertiary text-black col-12">{{ performance.start_date.split('T')[1] }} ({{ p_unpublished_durations[performance.artist_id] }})</p>
                <p class="badge mb-1 bg-quaternary text-black col-12">{{ performance.stage_name }}</p>
                <p class="badge bg-quaternary text-black col-12">{{ performance.music_genre }}</p>
            </section>
        </article>
    </a>
    {% endfor %}
</section>
{% endif %}

<!-- COLLABORATOR PUBLISHED PERFORMANCES -->
{% if p_published_performances %}
<h2 class="text-primary text-center">Performance pubblicate</h2>
<section class="album p-2 row">
    {% for performance in p_published_performances %}
    <a href="{{ url_for('artist', artist_id=performance.artist_id) }}" class="col-lg-3 mb-4 d-flex align-items-stretch text-decoration-none card-interaction mh-50">
        <article class="card rounded-4 bg-primary border-common mx-auto">
            <img src="{{ url_for('static', filename=performance.artist_image) }}" class="card-img-top rounded-top-4 artist-img" alt="{{ performance.name }}">
            <section class="card-body">
                <h5 class="card-title text-primary">{{ performance.artist_name }}</h5>
                <p class="card-text text-common">{{ performance.short_description }}</p>
            </section>
            <section class="row d-flex align-items-center mx-3">
                <p class="badge mb-1 bg-secondary text-black col-12">{{ performance.start_date.split('T')[0] }}</p>
                <p class="badge mb-1 bg-tertiary text-black col-12">{{ performance.start_date.split('T')[1] }} ({{ p_published_durations[performance.artist_id] }})</p>
                <p class="badge mb-1 bg-quaternary text-black col-12">{{ performance.stage_name }}</p>
                <p class="badge bg-quaternary text-black col-12">{{ performance.music_genre }}</p>
            </section>
        </article>
    </a>
    {% endfor %}
</section>
{% endif %}

{% endif %}
{% endblock body_content %}