{% extends "base.html" %}
{% block title %} {{ current_user.name }} {{ current_user.surname }} {% endblock title %}

{% block body_content %}

<main class="h-100">
    <div class="container pb-3 h-100">
        <div class="row d-flex justify-content-center">
            <div class="col col-md-8 col-lg-6 col-xl-5">
                <div class="card rounded-3 bg-primary">
                    <article class="rounded-3 text-white d-flex flex-row bg-primary justify-content-center my-3">
                        <section class="text-center">
                            <h1 class="text-common">{{ current_user.name }} {{ current_user.surname }}</h4>
                            <section>
                                <span class="badge bg-secondary">
                                    {% if current_user.type == 2 %}
                                        Collaboratore
                                    {% else %}
                                        Partecipante
                                    {% endif %}
                                </span>
                            </section>
                        </section>
                    </article>
                    {% if current_user.type == 1 %}
                    <article class="card-body text-black">
                        {% if p_ticket %}
                            <article class="card rounded-3 bg-common h-100">
                                <div class="col justify-content-center card-header">
                                    {% if p_ticket.type == 0 %} 
                                        <h3 class="my-2 pb-3 fw-normal text-primary border-bottom border-dark"> 
                                            Biglietto Singolo
                                        </h3>
                                        <h5> {{ p_ticket.start_date.split("T")[0] }} </h5>
                                    {% elif p_ticket.type == 1 %}
                                        <h3 class="my-2 pb-3 fw-normal text-primary border-bottom border-dark"> 
                                            Biglietto Doppio
                                        </h3>
                                        <h5> dal {{ p_ticket.start_date.split("T")[0] }}
                                        al {{ p_end_date.split("T")[0] }} </h5>
                                    {% else %}
                                        <h3 class="my-2 pb-3 fw-normal text-primary border-bottom border-dark"> 
                                            Biglietto Platino
                                        </h3>
                                        <h5 class=""> dal 18/07/2025 al 20/05/2025 </h5>  
                                    {% endif %}
                                </div>
                            </article>
                        {% else %}
                            <article class="card rounded-3 bg-common h-100">
                                <div class="col d-flex justify-content-center card-header py-3">
                                    <h3 class="fw-normal text-primary"> 
                                        Biglietto non ancora acquistato!
                                    </h3>
                                </div>
                            </article>
                        {% endif %}
                    </article>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if current_user.type == 2 %}
    <section class="flex-box bg-primary py-3 m-auto my-3 col-md-8 col-sm-12 text-common rounded-3">
            <div>
                <h2 class="text-center text-primary justify-content-center mb-3">
                    Guadagno biglietti
                </h2>
            </div>
            <section class="row p-2 justify-content-center">
                <div class="col-5">
                    <h5 class="text-center">
                        Singoli
                    </h5>
                    <div class="fw-bold mb-2 bg-common rounded-2 text-dark p-2 border border-black me-1 text-center">
                        {{ p_tickets_value[0] }} €
                    </div>
                </div>
                <div class="col-5">
                    <h5 class="text-center">
                        Doppi
                    </h5>
                    <div class="fw-bold mb-2 bg-common rounded-2 text-dark p-2 border border-black me-1 text-center">
                        {{ p_tickets_value[1] }} €
                    </div>
                </div>
            </section>
            <section class="row p-2 justify-content-center">
                <div class="col-5">
                    <h5 class="text-center">
                        Platino
                    </h5>
                    <div class="fw-bold mb-2 bg-common rounded-2 text-dark p-2 border border-black me-1 text-center">
                        {{ p_tickets_value[2] }} €
                    </div>
                </div>
                <div class="col-5">
                    <h5 class="text-center">
                        Totale
                    </h5>
                    <div class="fw-bold mb-2 bg-secondary rounded-2 text-dark p-2 border border-black me-1 text-center">
                        {{ p_tickets_value[3] }} €
                    </div>
                </div>
            </section>
        </section>

        <article class="flex-box bg-primary p-3 mt-3 mb-4 text-common rounded-3">
            <section class="row">
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold mb-2">
                            Partecipanti venerdì
                        </div>
                        <div class="fw-bold mb-2">
                            {{ p_people_count_days[0] }} / 200
                        </div>
                    </div>
                    <div>
                        <div class="progress" role="progressbar" aria-label="Number of single tickets" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-secondary" style="width: {{ p_people_count_days[0] / 200 * 100 }}%"></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold mt-3 mb-2">
                            Partecipanti sabato
                        </div>
                        <div class="fw-bold mt-3 mb-2">
                            {{ p_people_count_days[1] }} / 200
                        </div>
                    </div>
                    <div>
                        <div class="progress" role="progressbar" aria-label="Number of double tickets" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-secondary" style="width: {{ p_people_count_days[1] / 200 * 100}}%"></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold mt-3 mb-2">
                            Partecipanti domenica
                        </div>
                        <div class="fw-bold mt-3 mb-2">
                            {{ p_people_count_days[2] }} / 200
                        </div>
                    </div>
                    <div>
                        <div class="progress" role="progressbar" aria-label="Number of platinum tickets" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-secondary" style="width: {{ p_people_count_days[2] / 200 * 100 }}%"></div>
                        </div> 
                    </div>
                </div>
            </section>
        </article>

        {% if p_unpublished_performances %}
            <div class="d-flex justify-content-center">
                <h2 class="text-primary">Performance non pubblicate</h2>
            </div>
            <section class="album p-2">
                <div class="row">
                    {% for performance in p_unpublished_performances %}
                        <a href="{{ url_for('update_performance', artist_id=performance.artist_id) }}" class="col-lg-3 mb-3 d-flex align-items-stretch text-decoration-none card-interaction mh-50">
                            <article class="card rounded-4 bg-primary border-common">
                                <img src="{{ url_for('static', filename=performance.artist_image) }}" class="card-img-top rounded-top-4 artist-img" alt="{{ performance.name }}">
                                <section class="card-body d-flex flex-column">
                                    <h5 class="card-title text-primary">{{ performance.artist_name }}</h5>
                                    <p class="card-text mb-4 text-common">{{ performance.short_description }}</p>
                                </section>
                                <section class="d-flex align-items-center m-3 mt-0">
                                    <span class="badge me-1 bg-secondary text-black">{{ performance.start_date.split('T')[0] }}</span>
                                    <span class="badge me-1 bg-tertiary text-black">{{ performance.start_date.split('T')[1] }} ({{ p_unpublished_durations[performance.artist_id] }})</span>
                                </section>
                                <section class="d-flex align-items-center m-3 mt-0">
                                    <span class="badge me-1 bg-quaternary text-black">{{ performance.stage_name }}</span>
                                    <span class="badge bg-quaternary text-black">{{ performance.music_genre }}</span>
                                </section>
                            </article>
                        </a>
                    {% endfor %}
                </div>     
            </section>
        {% endif %}

        {% if p_published_performances %}
            <div class="d-flex justify-content-center">
                <h2 class="text-primary">Performance pubblicate</h2>
            </div>
            <section class="album p-2">
            <div class="row ">
                {% for performance in p_published_performances %}
                <a href="{{ url_for('artist', artist_id=performance.artist_id) }}" class="col-lg-3 mb-4 d-flex align-items-stretch text-decoration-none card-interaction mh-50">
                    <article class="card rounded-4 bg-primary border-common mx-auto">
                        <img src="{{ url_for('static', filename=performance.artist_image) }}" class="card-img-top rounded-top-4 artist-img" alt="{{ performance.name }}">
                        <section class="card-body d-flex flex-column">
                            <h5 class="card-title text-primary">{{ performance.artist_name }}</h5>
                            <p class="card-text text-common">{{ performance.short_description }}</p>
                        </section>
                        <section class="row d-flex align-items-center m-3 my-0">
                            <span class="badge me-1 mb-1 bg-secondary text-black col-12">{{ performance.start_date.split('T')[0] }}</span>
                            <span class="badge me-1 mb-1 bg-tertiary text-black col-12">{{ performance.start_date.split('T')[1] }} ({{ p_published_durations[performance.artist_id] }})</span>
                        </section>
                        <section class="row d-flex align-items-center m-3 mt-0">
                            <span class="badge me-1 mb-1 bg-quaternary text-black col-12">{{ performance.stage_name }}</span>
                            <span class="badge bg-quaternary text-black col-12">{{ performance.music_genre }}</span>
                        </section>
                    </article>
                </a>
                {% endfor %}
            </div>     
        </section>
        {% endif %}


    {% endif %}
</main>
{% endblock body_content %}